.App {
  text-align: center;
  height: fit-content;
  min-height: 100vh;
  display: flex;
}

.site-layout-background{
  min-height: 500px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-content-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.tags-container{
  display: flex;
  margin-bottom: 30px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.site-content-half-container{
  width: 500px;
  min-height: 400px;
  height: fit-content;
  margin-right: 40px !important;
}